html{
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*CSS for website tabs and intro*/

.WebsiteTopics{
	background-color: #015761;
	height:100%;
}

.Grid{
  display: grid;
}

.LeftSide{
  grid-column: 1;
}

.RightSide{
  grid-column: 2;
}

.MyName{
  color: #f2d94f;
  font-size: 20px;
  text-indent: 50px;
  margin-top: 50px;
}

.Introduction{
  padding-left: 150px;
  margin-top: 150px;
}

.Intro{
  color: #f2d94f;
  font-size: 40px;
}

.BiggerMyName{
  color: #fff;
  font-size: 100px;
}

.SmallerMyName{
  line-height: normal;
 	color: #fff;
}

.Tabs{
  text-indent: 50px;
  display: flex;
}

.TabLinks{
 	background: none; 
 	border: none; 
 	color: #fff;
}

 .TabLinks:hover { 
  color: yellow;
}

.Sidenav {
  width: 40px;
  position: fixed;
  float: right;
  top: 30%;
  right: 0px;
  background: rgba(247, 220, 79, 1);
  overflow-x: hidden;
}

/*CSS for image*/

.MyImage{
  float: right; 
}

/*CSS for about me*/

.About{
  color: #19666F;
  text-align: center;
  font-size: 48px;
}

.Description{
  text-align: center;
  padding: 0px 350px 0px 350px;
  font-weight: 300;
  font-size: normal;
}

.Summary{
  padding: 50px 0px 50px 0px;
  background-color: #f1f0f0;
  text-align: center;
}

.Resume{  
  background-color: rgba(247, 220, 79, 1);
  border: solid rgba(153, 153, 151, 1) 0px; 
  color: #53835b;
  font-size: 15px; 
  padding: 10px 26px;
}

.Resume:hover{
  background-color: #015761;
  color: rgba(247, 220, 79, 1);
}

.Resume:focus {
  outline: none;
}

/*CSS for work*/

.Work{
  color: #19666F;
  text-align: center;
  font-size: 48px;
}

.Dates{
  font-weight: normal;
  color: 	#080808;
}

/*CSS for projects*/

.Projects{
  color: #19666F;
  text-align: center;
  font-size: 48px;
}

/*CSS for languages*/

.Languages{
  color: #19666F;
  text-align: center;
  font-size: 48px;
}

.ProgressCircle {
  font-size: 20px;
  margin: 20px;
  position: relative; 
  padding: 0;
  width: 5em;
  height: 5em;
  background-color: #F2E9E1; 
  border-radius: 50%;
  line-height: 5em;
}

.ProgressCircle:after{
   border: none;
   position: absolute;
   top: 0.35em;
   left: 0.35em;
   text-align: center;
   display: block;
   border-radius: 50%;
   width: 4.3em;
   height: 4.3em;
   background-color: white;
   content: " ";
}

.ProgressCircle span {
   position: absolute;
   line-height: 5em;
   width: 5em;
   text-align: center;
   display: block;
   color: #53777A;
   z-index: 2;
}
.LeftHalf { 
  border-radius: 50%;
  width: 5em;
  height: 5em;
  position: absolute; 
  clip: rect(0, 5em, 5em, 2.5em);  
}

.ProgressCircle .LeftHalf {
  clip: rect(auto,auto,auto,auto);
}
.ValueBar {
  position: absolute;
  clip: rect(0, 2.5em, 5em, 0);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 0.45em solid #53777A; 
  box-sizing: border-box;
 
}
.ProgressCircle .FirstHalf {
  position: absolute; 
  clip: rect(0, 5em, 5em, 2.5em);
  background-color: #53777A;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.ProgressCircle.p85 .ValueBar { transform: rotate(306deg); }
.ProgressCircle.p90 .ValueBar { transform: rotate(324deg); }
.ProgressCircle.p95 .ValueBar { transform: rotate(342deg); }

.LeftProgressBars{
  float:left;
}

.CenterProgressBars{
  display: inline-block;
  text-align: center;
}

.RightProgressBars{
  float:right;
}

.ProgressBars{
  padding: 0 350px 0 350px;
}

/*CSS for contact*/

.Contact{
  color: #19666F;
  text-align: center;
  font-size: 48px;
}

.Label{
  font-size: 16px;
  position: absolute;
  transform-origin: top left;
  transform: translate(-80px, 0px) scale(1);
  transition: all .1s ease-in-out;
}

.ContactInput{
  background: transparent;
  border: none;
  border-bottom: 2px solid #adadad;
  padding: 2px 5px;
  width: 40%;
  outline: none;
}

.ContactInput:focus{
  border-bottom: 2px solid rgba(247, 220, 79, 1);;
}

.Submit{  
  background-color: rgba(247, 220, 79, 1);
  border: solid rgba(153, 153, 151, 1) 0px; 
  color: #53835b;
  font-size: 15px; 
  padding: 10px 26px;
}

.Submit:hover{
  background-color: #015761;
  color: rgba(247, 220, 79, 1);
}

/*CSS for footer*/

footer{
  text-align: center;
  background-color: #f1f0f0;
  font-weight: 300;
  font-size: 0.9em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
