html{
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*CSS for website tabs and intro*/

.WebsiteTopics{
	background-color: #015761;
	height:100%;
}

.Grid{
  display: grid;
}

.LeftSide{
  grid-column: 1;
}

.RightSide{
  grid-column: 2;
}

.MyName{
  color: #f2d94f;
  font-size: 20px;
  text-indent: 50px;
  margin-top: 50px;
}

.Introduction{
  padding-left: 150px;
  margin-top: 150px;
}

.Intro{
  color: #f2d94f;
  font-size: 40px;
}

.BiggerMyName{
  color: #fff;
  font-size: 100px;
}

.SmallerMyName{
  line-height: normal;
 	color: #fff;
}

.Tabs{
  text-indent: 50px;
  display: flex;
}

.TabLinks{
 	background: none; 
 	border: none; 
 	color: #fff;
}

 .TabLinks:hover { 
  color: yellow;
}

.Sidenav {
  width: 40px;
  position: fixed;
  float: right;
  top: 30%;
  right: 0px;
  background: rgba(247, 220, 79, 1);
  overflow-x: hidden;
}

/*CSS for image*/

.MyImage{
  float: right; 
}

/*CSS for about me*/

.About{
  color: #19666F;
  text-align: center;
  font-size: 48px;
}

.Description{
  text-align: center;
  padding: 0px 350px 0px 350px;
  font-weight: 300;
  font-size: normal;
}

.Summary{
  padding: 50px 0px 50px 0px;
  background-color: #f1f0f0;
  text-align: center;
}

.Resume{  
  background-color: rgba(247, 220, 79, 1);
  border: solid rgba(153, 153, 151, 1) 0px; 
  color: #53835b;
  font-size: 15px; 
  padding: 10px 26px;
}

.Resume:hover{
  background-color: #015761;
  color: rgba(247, 220, 79, 1);
}

/*CSS for work*/

.Work{
  color: #19666F;
  text-align: center;
  font-size: 48px;
}

/*CSS for projects*/

.Projects{
  color: #19666F;
  text-align: center;
  font-size: 48px;
}

/*CSS for languages*/

.Languages{
  color: #19666F;
  text-align: center;
  font-size: 48px;
}

.Progress {
  background-color: black;
  border-radius: 13px;
  padding: 3px;
  width: 40%;
  margin-left: auto; 
  margin-right:auto;
}

.Bar {
  background-color: orange;
  width: 90%;
  height: 20px;
  border-radius: 10px;
}

.Bar1 {
  background-color: orange;
  width: 80%;
  height: 20px;
  border-radius: 10px;
}

.Bar2 {
  background-color: orange;
  width: 85%;
  height: 20px;
  border-radius: 10px;
}

.Bar3 {
  background-color: orange;
  width: 85%;
  height: 20px;
  border-radius: 10px;
}

.Bar4 {
  background-color: orange;
  width: 70%;
  height: 20px;
  border-radius: 10px;
}

.Bar5 {
  background-color: orange;
  width: 90%;
  height: 20px;
  border-radius: 10px;
}

.Bar6 {
  background-color: orange;
  width: 90%;
  height: 20px;
  border-radius: 10px;
}

.Bar7 {
  background-color: orange;
  width: 90%;
  height: 20px;
  border-radius: 10px;
}

/*CSS for contact*/

.Contact{
  color: #19666F;
  text-align: center;
  font-size: 48px;
}

.Question{
  text-align: center;
  color: #fff;
}

.ContactForm{
  background-color: #338ec6;
}

/*CSS for footer*/

footer{
  text-align: center;
  background-color: #f1f0f0;
  font-weight: 300;
  font-size: 0.9em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
